@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<form method="post">
    <center>
    <div>
        <label for="txtName">Name    : </label>
        <input id="txtName" placeholder="Enter Name" required type="text" />
    </div>
    <div>
        <label for="txtPassword">Password: </label>
        <input id="txtPassword" placeholder="Enter Password" required type="Password"/>
    <div/>
    <div>
        <input type = "submit" value=" ok"/>
    </div>
    <center/>
</form>
