@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 href="C:\Users\aakash.b\source\repos\FirstMVCApp\FirstMVCApp\Views\Home\SayHello.cshtml" class="display-4">Hello All,Have A Great Day</h1>
</div>
<div>
    <a href="C:\Users\aakash.b\source\repos\FirstMVCApp\FirstMVCApp\Views\Home\SayHell0?name=Aakash"></a>
</div>
<div>
    <a href="C:\Users\aakash.b\source\repos\FirstMVCApp\FirstMVCApp\Views\Home\Add?x=420&y=69 "></a>
</div>
<form action="Home/DoLogin">
    <div>
        <div>
            <label for="txtUser">User Name:</label>
            <input type="text" name = "txtUser"id="txtUser" required placeholder="Enter UserID" />
        </div>
        <div>
            <label for="txtpwd">Password:</label>
            <input type="password" name="txtPwd" id="txtPwd" required placeholder="Enter Password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>
<div>
    <a href ="Home\SayHell0?name=Aakash">SayHello</a>
</div>
<div>
    <a href="Home\Add?x=420&y=69 ">Add</a>
</div>
<div>
    <a href="Home\Multiply?x=420&y=69 ">Multiply</a>
</div>
<div>
    <a href="Home\Divide?x=420&y=69 ">Divide</a>
</div>
<div>
    <a href="Home\AddNewBook">New Book</a>
</div>
<div>
    <a href="Home\ListAllBook">Collection</a>
</div>
<div>
    <a href="Author">Author Data</a>
</div>
<div>
    <a href="Emp">Employee List</a>
</div>